<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kit.mapper.AdminMapper">

<insert id="register">
insert into product(
pcode, pname, price, stock, catecode, img, regDate
) values (
#{pcode}, #{pname}, #{price}, #{stock}, #{catecode}, #{img}, sysdate
)
</insert>

</mapper>